---
// Navbar component
---

<header
  class="sticky top-0 z-50 backdrop-blur-md bg-background-light/70 dark:bg-background-dark/70 border-b border-primary/10"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">
      <div class="flex items-center gap-3">
        <svg
          class="w-8 h-8 text-red-600"
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 2000.000000 2000.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <g
            transform="translate(0.000000,2000.000000) scale(0.100000,-0.100000)"
            fill="#000000"
            stroke="none"
          >
            <path
              d="M9595 17380 c-846 -48 -1653 -234 -2450 -564 -217 -90 -640 -301
-865 -432 -414 -241 -851 -560 -1205 -879 -1384 -1246 -2245 -2935 -2429
-4765 -50 -492 -47 -1045 9 -1555 181 -1648 923 -3200 2090 -4371 201 -202
365 -355 518 -482 1340 -1117 3001 -1722 4727 -1722 1238 0 2440 304 3525 893
1647 893 2906 2394 3496 4167 328 987 441 1982 343 3030 -181 1953 -1148 3763
-2681 5018 -498 408 -1089 774 -1659 1027 -783 348 -1562 548 -2410 621 -208
17 -805 26 -1009 14z m775 -110 c1469 -81 2819 -570 3989 -1445 305 -228 540
-436 847 -746 1041 -1056 1728 -2409 1974 -3887 224 -1347 66 -2724 -456
-3979 -622 -1495 -1749 -2767 -3150 -3554 -1142 -641 -2419 -964 -3704 -936
-270 6 -548 24 -725 47 -566 74 -953 161 -1450 325 -1313 436 -2510 1272
-3380 2360 -452 566 -816 1191 -1084 1862 -496 1245 -637 2658 -396 3983 408
2238 1841 4157 3880 5195 332 169 638 296 995 413 679 224 1197 319 1995 365
129 8 498 6 665 -3z"
            ></path>
            <path
              d="M9497 16476 c-60 -16 -115 -60 -147 -117 -22 -39 -25 -56 -25 -144 0
-92 2 -104 30 -153 54 -98 160 -146 273 -123 84 17 135 52 166 113 30 60 33
83 10 74 -9 -3 -32 -6 -52 -6 -31 0 -39 -5 -50 -29 -20 -45 -58 -65 -124 -66
-69 0 -103 21 -135 85 -30 57 -31 147 -3 208 31 69 119 99 195 68 18 -8 40
-27 48 -43 14 -26 19 -28 66 -25 59 5 65 18 28 73 -57 85 -162 116 -280 85z"
            ></path>
            <path
              d="M10556 16449 c-9 -43 -64 -504 -61 -508 2 -2 24 -6 48 -8 51 -6 50
-7 63 129 3 42 9 80 13 86 4 6 44 5 111 -4 58 -7 110 -13 116 -14 7 0 6 -32
-3 -107 -8 -58 -12 -112 -9 -120 3 -8 22 -13 49 -13 l44 0 31 262 c18 143 31
262 30 263 -2 1 -24 5 -49 9 l-46 7 -13 -111 c-10 -90 -16 -110 -29 -110 -37
1 -211 27 -217 32 -3 3 0 52 7 107 7 56 10 103 8 106 -3 2 -23 7 -46 11 -39 6
-42 4 -47 -17z"
            ></path>
            <path
              d="M8334 16272 l-50 -14 -25 -284 c-13 -156 -22 -284 -20 -284 17 0 87
26 93 35 4 5 8 35 8 66 l0 56 99 26 c55 15 102 27 104 27 2 0 20 -24 40 -54
l36 -54 47 14 c26 8 48 15 50 17 2 3 -310 445 -322 456 -5 4 -32 1 -60 -7z
m109 -219 l56 -83 -57 -16 c-31 -8 -65 -18 -75 -21 -16 -4 -17 3 -11 94 6 109
11 131 23 117 4 -5 33 -46 64 -91z"
            ></path>
            <path
              d="M11747 16242 c-10 -18 -159 -504 -156 -506 14 -11 325 -102 331 -97
4 4 10 21 14 38 l6 31 -116 36 c-68 22 -116 42 -116 49 0 12 40 137 43 137 1
0 49 -16 107 -35 l105 -34 12 27 c7 15 12 32 13 38 0 6 -47 25 -105 43 -63 19
-105 37 -105 45 0 17 31 109 40 119 4 4 57 -8 117 -27 60 -20 112 -36 115 -36
6 0 28 56 28 70 0 4 -12 10 -27 14 -16 3 -90 25 -166 50 -75 24 -139 41 -140
38z"
            ></path>
            <path
              d="M7253 15874 c-84 -40 -153 -75 -153 -78 0 -7 220 -469 226 -475 3 -4
314 139 314 144 0 2 -7 19 -15 39 l-15 36 -91 -46 c-149 -74 -135 -74 -169 2
-17 36 -30 68 -30 71 0 2 44 25 98 50 53 25 98 47 100 48 2 2 -4 17 -13 35
-19 37 -23 36 -139 -22 -43 -22 -82 -36 -87 -31 -4 4 -19 34 -34 66 l-25 58
107 51 c60 28 110 52 112 54 5 4 -19 63 -28 68 -3 2 -75 -30 -158 -70z"
            ></path>
            <path
              d="M12664 15614 c-65 -125 -120 -231 -122 -235 -2 -4 16 -18 39 -29 48
-25 42 -31 100 83 21 42 42 77 45 77 3 0 18 -7 34 -15 l30 -16 0 -119 0 -120
40 -20 c21 -11 44 -20 50 -20 6 0 10 44 10 120 l0 120 31 0 c79 0 149 75 149
159 0 82 -41 126 -181 197 -49 24 -92 44 -97 44 -5 0 -62 -102 -128 -226z
m222 89 c74 -40 84 -51 84 -95 0 -45 -35 -88 -71 -88 -20 0 -139 48 -139 56 0
5 74 154 76 154 1 0 23 -12 50 -27z"
            ></path>
            <path
              d="M6342 15330 c-39 -18 -212 -136 -212 -145 0 -6 290 -408 303 -421 9
-9 21 -5 49 16 l37 27 -59 84 c-33 46 -60 87 -60 90 0 3 15 14 34 24 l34 18
98 -55 99 -55 43 29 c23 16 42 32 42 36 0 4 -48 32 -105 62 -78 41 -104 59
-99 70 3 8 11 28 16 43 23 62 -39 167 -110 187 -50 14 -60 13 -110 -10z m107
-106 c34 -43 28 -86 -18 -127 -72 -65 -73 -65 -125 7 -25 36 -46 67 -46 70 0
3 21 21 48 41 60 44 111 48 141 9z"
            ></path>
            <path
              d="M13700 15084 l-34 -186 -59 -75 -60 -74 34 -29 c19 -16 37 -29 41
-30 4 0 33 33 64 74 l57 74 173 78 c96 43 174 81 174 84 0 8 -68 60 -80 60 -6
0 -60 -25 -121 -56 -61 -30 -113 -53 -116 -51 -2 3 8 62 23 132 l28 127 -34
29 c-19 16 -40 29 -46 29 -6 0 -25 -79 -44 -186z"
            ></path>
            <path
              d="M5418 14556 c-76 -79 -138 -147 -138 -152 0 -4 12 -18 26 -29 l26
-21 54 56 53 55 123 -120 c68 -66 142 -138 165 -160 l43 -39 30 29 c16 16 30
33 30 37 0 5 -72 79 -160 165 l-161 156 51 52 c27 28 50 55 50 61 0 11 -42 55
-51 53 -2 -1 -66 -65 -141 -143z"
            ></path>
            <path
              d="M9783 13753 c-104 -164 -359 -567 -568 -895 l-378 -598 -1397 0
c-1242 0 -1399 -2 -1410 -15 -9 -11 -10 -22 -3 -38 6 -12 366 -584 800 -1272
2396 -3792 3099 -4904 3125 -4943 42 -61 61 -55 121 38 27 41 524 827 1104
1745 580 919 1449 2293 1930 3054 700 1108 873 1389 868 1408 l-5 23 -1404 0
-1403 0 -469 742 c-258 408 -512 809 -564 892 -139 219 -111 231 -347 -141z
m175 -2037 l-3 -683 -395 259 c-217 142 -394 264 -392 271 1 7 179 508 395
1113 l392 1101 3 -689 c1 -379 1 -997 0 -1372z m482 954 c199 -558 370 -1038
380 -1066 l18 -52 -341 -223 c-188 -123 -368 -241 -399 -261 l-58 -38 1 1378
c0 1340 1 1376 19 1327 9 -27 181 -507 380 -1065z m-970 -16 c-198 -555 -367
-1028 -376 -1052 -15 -39 -58 -75 -572 -470 -307 -236 -562 -432 -569 -436 -7
-3 103 175 243 396 140 222 564 892 942 1490 378 598 688 1086 689 1084 1 -1
-159 -456 -357 -1012z m1333 26 c338 -536 766 -1213 950 -1505 185 -291 334
-531 332 -533 -5 -5 -1138 897 -1157 921 -9 12 -171 454 -359 982 -386 1086
-402 1133 -391 1120 5 -6 286 -449 625 -985z m-2023 -505 c0 -10 -1311 -2080
-1318 -2082 -6 -2 -1309 2050 -1320 2078 -2 5 590 9 1317 9 727 0 1321 -2
1321 -5z m5078 -4 c-7 -18 -1313 -2081 -1318 -2081 -5 0 -1312 2062 -1318
2081 -2 5 520 9 1318 9 757 0 1320 -4 1318 -9z m-4304 -971 l406 -265 0 -325
0 -325 -406 -620 c-223 -341 -409 -623 -413 -628 -7 -7 -491 1047 -491 1070 0
9 443 1262 475 1346 4 10 11 17 15 15 5 -2 191 -122 414 -268z m1329 228 c8
-24 103 -290 211 -592 108 -301 196 -554 196 -562 0 -8 -92 -247 -204 -532
-312 -791 -297 -755 -311 -740 -6 7 -175 299 -373 648 l-362 636 0 324 0 325
408 267 c224 147 410 267 414 268 3 0 13 -19 21 -42z m-2288 -1225 c-234 -659
-430 -1202 -434 -1206 -4 -4 -153 221 -330 501 l-322 510 150 237 149 238 603
463 c332 255 605 461 607 459 2 -2 -188 -543 -423 -1202z m3070 664 l570 -454
128 -202 c73 -116 124 -207 120 -214 -6 -12 -548 -872 -610 -969 l-30 -48
-432 1209 c-237 665 -431 1212 -431 1216 0 8 -15 20 685 -538z m-1278 -1352
l369 -650 127 -601 128 -602 -423 -668 c-233 -368 -460 -726 -503 -796 -44
-70 -82 -128 -85 -128 -12 1 -1054 1666 -1057 1689 -2 15 48 283 111 597 l115
572 413 631 c312 476 416 627 424 618 6 -7 177 -304 381 -662z m1178 5 c120
-338 218 -619 218 -625 0 -13 -705 -1127 -710 -1122 -5 6 -233 1084 -233 1105
0 26 493 1273 501 1264 3 -4 104 -284 224 -622z m-2715 -60 l237 -520 -107
-535 c-59 -295 -109 -538 -112 -540 -4 -4 -643 1000 -650 1022 -4 11 385 1104
391 1098 2 -3 111 -239 241 -525z"
            ></path>
            <path
              d="M10833 4866 c-238 -39 -435 -75 -439 -78 -4 -4 -1 -44 6 -88 l13 -82
31 6 c111 20 307 48 310 45 2 -2 38 -218 81 -479 42 -261 79 -484 82 -496 4
-21 5 -21 104 -4 55 9 102 20 106 23 3 4 -30 228 -75 499 -44 271 -79 494 -77
496 2 2 77 15 167 30 89 14 165 27 167 28 8 6 -23 174 -33 173 -6 0 -205 -33
-443 -73z"
            ></path>
            <path
              d="M8766 4898 c-11 -36 -139 -1159 -133 -1165 7 -6 199 -33 205 -28 2 2
23 173 48 381 25 209 48 387 52 397 5 12 37 -65 101 -240 52 -142 107 -292
123 -334 l29 -77 57 -6 c31 -4 69 -9 84 -12 25 -5 37 11 228 295 111 166 203
301 205 301 1 0 1 -10 -1 -22 -10 -59 -94 -781 -92 -783 5 -5 209 -27 212 -24
4 4 145 1173 142 1176 -4 4 -249 32 -255 29 -3 -3 -107 -159 -231 -349 -124
-190 -228 -342 -232 -339 -3 4 -67 178 -143 387 -75 209 -140 383 -144 388 -5
5 -211 36 -249 37 -1 0 -4 -6 -6 -12z"
            ></path>
          </g>
        </svg>

        <span
          class="text-xl font-bold tracking-tight text-slate-900 dark:text-white"
          >Treachery MTG</span
        >
      </div>
      <nav class="hidden md:flex items-center space-x-8">
        <a
          class="text-sm font-medium hover:text-primary transition-colors"
          href="#">How to Play</a
        >
        <a
          class="text-sm font-medium hover:text-primary transition-colors"
          href="#">Roles</a
        >
        <a
          class="text-sm font-medium hover:text-primary transition-colors"
          href="#">Rules</a
        >
      </nav>
      <div class="flex items-center gap-4">
        <button
          class="material-symbols-outlined p-2 hover:bg-primary/10 rounded-full transition-colors"
          >settings</button
        >
        <button class="md:hidden material-symbols-outlined p-2">menu</button>
      </div>
    </div>
  </div>
</header>
